<?xml version="1.0" encoding="UTF-8"?>
<config version="1.0">
  <system>
    <!-- System settings
	 *size
	 x: 出力サイズの幅
	 y: 出力サイズの高さ
	 *output
	 wait: ページ送りの待ち時間(秒)
	 frame: 出力フレームレート(ignored)
	 format: 出力する画像のフォーマット(ignored)
    -->
    <size x="800" y="600" />
    <output wait="6" frame="1" format="png" />
  </system>
  <fig>
    <!-- Figure settings
	 *bg
	 TBD
	 *fg
	 num: 立ち絵の最大数
	 *pos%d
	 xmid: 立ち絵の中心の横位置 - 左から0~100(%)
	 ymid: 立ち絵の中心の縦位置 - 上から0~100(%)
    -->
    <bg />
    <fg num="3">
      <pos xmid="25" ymid="50" />
      <pos xmid="50" ymid="50" />
      <pos xmid="75" ymid="50" />
    </fg>
  </fig>
  <text>
    <!-- Text settings
	 *character
	 font: フォントファイルの名前 - プロジェクト直下に配置
	 size: フォントサイズ(pt)
	 *msgbox
	 x: メッセージボックスの中心の横位置 - 左から0~100(%)
	 y: メッセージボックスの中心の縦位置 - 上から0~100(%)
	 fig: メッセージボックスに使用する画像
	 xmergin: 枠からテキストまでの横マージン - 左から0~100(%)
	 ymergin: 枠からテキストまでの縦マージン - 上から0~100(%)
	 *style
	 raw: 一行に表示する文字数(ignored)
	 column: 行数(ignored)
    -->
    <character font="font" size="28" />
    <msgbox x="50" y="80" fig="msgbox" xmergin="3" ymergin="6" />
    <style raw="24" column="4" />
  </text>
</config>
